.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 40%;
  width: 70px;
}

.sidebar-link {
  height: 75px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover {
  background-color: rgb(235, 233, 233);
}

.sidebar-icon {
  width: 25px;
  margin-bottom: 7px;
}
